html {
}

body {
	margin: 0;
	padding: 0;
	font-size: 11px;
	text-align: center;
	background-color: black;
	color: white;
	font-family: "Play";
	font-size: 20px;
}

canvas {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
}

.clear {
	clear: both;
}
